/* design styles */
html,
body{
    line-height:normal;
    font-family:"Source Sans Pro", "Arial", "Helvetica", "Geneva", sans-serif;
    height:100%;
    font-size:14px;
}
.node-property__label{
    display: flex;
    align-items: center;
    margin: 5px 0px;
    font-size: 14px;
    font-weight: 600;
}
.node-property__header {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #F0F2F5;
}
.node-property__content {
    padding-left: 10px;
}
.node-property__header{
    cursor: pointer;
    margin-bottom: 5px;
}
.node-property__after--card {
    padding-top: 5px;
}
.hidden {
    display: none !important;
}
input#useImagesForCards {
    width: 20px;
}
.card__size {
    margin-right: 20px;
}
.card__size input{
    margin-right: 5px;
    width: 50px;
}
.node-property__checkbox-label {
    font-size: 15px;
    margin-left: 10px;
}
.value__option-header {
    font-size: 12px !important;
    font-weight: 600;
}
.value__option-input--color {
    margin: 5px 10px;
}
.setting-col, .setting-row {
    display: flex;
    margin-bottom: 5px;
}
.setting-col {
    flex-direction: column;
}
.setting-row {
    flex-direction: row;
    justify-content: flex-start;
}
.form-input {
    width: auto;
    height: 28px;
    padding: 4px 6px;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 3px;
    color: #555555;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-input--color {
    width: 1rem;
}
.form-input--8ch {
    width: calc(8ch + 30px);
}

.co-toggle {
    margin-top: 5px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5px;
}
.image-container input {
    margin-left: 5px;
}
.image-code {
    margin-right: auto;
}
.image-preview {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
}

.zoom {
    transition: transform .3s;
}
.zoom:hover {
    -ms-transform: scale(4); /* IE 9 */
    -webkit-transform: scale(4); /* Safari 3-8 */
    transform: scale(4) translateX(10px);
}

.comd-warning-block {
    /*border-top: 1px solid red;
    border-bottom: none;*/
}

.comd-warning__text {
    font-size: 14px;
    padding: 0.5em 0px;
    color: red;
}

.scale-icon-picker {
    cursor: pointer;
}

.scale-icon-picker__bg {
    color: #eeeeee;
}

.scale-icon-picker:not(.scale-icon-picker--selected):hover > .scale-icon-picker__bg{
    color: #dddddd;
}

.scale-icon-picker--selected > .scale-icon-picker__bg{
    color: #cccccc;
    text-shadow: 0 0 4px #aaaaaa;
}

.image-type-settings {
    width: 50%;
}

.node-property--scales-type ul.option-list {
    max-width: fit-content;
}